{% extends 'music/base.html' %}
{% block body %}
<img src = "{{ album.album_logo.url }}" style="width:250px;height:250px"><br>
<b>Album Name : {{album.album_title}}</b><br>
<b>Album Artist : {{album.artist}}</b><br>
<b>Album genre : {{album.genre}}</b>
<br>
{% if error_message %}
{{ error_message }}<br>
{% endif %}
<b>Songs :</b><br>
<ul></ul>
    {% for song in album.song_set.all %}
            {{ song.song_title }}
            {% if song.isFavourite %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Featured_article_star_tt.svg/1024px-Featured_article_star_tt.svg.png" style="width:10px;height:10px">
            {% endif %}<br>
    {% endfor %}
{% endblock %}